.section-title h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .section-title h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
  }
  
  .section-title h3 span {
    color: #ff6600;
  }
  
  .about .btn {
    background-color:orangered;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
  }
  
  .about .btn:hover {
    background-color: #e65c00;
  }
  /* nav-tab */
  .d-block:hover{
    border:  1px solid#e65c00;
  }
  .bi{
    font-size:35px;
  }
  .bi:hover{
    color: #e65c00;}

    .light-orange{
        background-color: gainsboro;
    }
    .light-orange:focus, .light-orange:active, .light-orange:hover {
        background-color:#e65c00;
    }
    .about-3 .btn {
        background-color:orangered;
        border: none;
        color: #fff;
        padding: 10px 25px;
        border-radius: 20px;
      }